/* Header */
body {
  height: 100%;  
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

header h1 {
  font-size: 1.5rem; 
}

.h2-header {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

main {
  padding: 20px;
}

.navbar-toggler {
  border-color: #ffffff80;
}

.navbar-nav .nav-link {
  color: white;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #d3d3d3;
}

.navbar-nav .nav-item {
  margin-left: 1rem;
}



/* Footer */
footer {
  background-color: #343a40;
  position: relative;
  width: 100%;
  font-size: 0.8rem;
}
  
footer a {
  color: #f8f9fa;
  margin: 0 10px;
}

/* Estilos Generales  */
.container {
  max-width: 500px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}

label {
  font-weight: bold;
}

button[type="submit"] {
  width: 100%;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-control {
  font-size: 1rem;
  padding: 0.75rem;
}

.btn {
  font-size: 1rem;
  padding: 0.75rem;
}

/* dashboard.html */
.card {
  margin-bottom: 20px;
}

.card-header {
  background-color: #28a745;
}

.list-group-item a {
  text-decoration: none;
  color: #007bff;
}

.list-group-item a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.btn_alumno {
  margin: 0 auto;
}


/* formulario de tareas */
.task-container {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.task-container p {
  color: #555;
  font-size: 1rem;
}

.form-select {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Lista tareas */
.tarea-vencida td {
  background-color: #f8d7da;
  color: #721c24;
}


/* Botones */
.btn {
  font-size: 1.1rem;
  padding: 10px 20px;
}



/* Media Queries */

/* Small devices (601px x 400px) */
@media (min-width: 601px) {
  h2 {
    font-size: 2rem;
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
  }

  .list-group-item {
    width: 50%;
    margin: 0 auto;
  }
}

/* Medium devices (768px x 600px) */
@media (min-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  footer {
    font-size: 0.9rem;
  }

  .col-md-8 {
      padding-left: 30px;
      padding-right: 30px;
  }

  .role {
      justify-content: center;
  }

  .form-control {
    font-size: 1.1rem;
  }

  .btn {
    font-size: 1.1rem;
    padding: 1rem 2rem;
  }

  .alert {
    font-size: 1.1rem;
  }

  .task-container {
    padding: 20px;
}

.form-select {
    max-width: 400px;
    margin: 0 auto;
}

}

/* Large devices (992px x 800px) */
@media (min-width: 992px) {
  header h1 {
    font-size: 2.5rem;
  }

  .navbar-nav .nav-item {
    margin-left: 2rem;
  }

  footer {
    font-size: 1rem;
  }

  .card-header {
      font-size: 1.5rem; 
  }

  .container-dash {
      padding-top: 40px;
      padding-bottom: 40px;
  }

  .card-body p {
      font-size: 1.1rem;
  }
  
  .container {
    max-width: 800px;
  }

  .task-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.5em;
  }


  .task-container h4 {
      margin-bottom: 10px;
  }

  .form-select {
      max-width: 200px;
  }



  .form-select {
      max-width: 200px;
  }

}
  
  /* Extra large devices (1200px x 800px) */
@media (min-width: 1200px) {
  
  main {
    padding: 30px;
  }

    .task-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .task-container h4 {
      margin-bottom: 10px;
  }

  .form-select {
      max-width: 200px;
  }
  
}


