{% include 'header.html'  %} 

<form action="/add" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido">
    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad">
    <label for="curso">Curso:</label>
    <input type="text" id="curso" name="curso">
    <button type="submit">Agregar Alumno</button>
</form>

{% include 'footer.html'  %}