{% include 'header.html' %}

<div class="container-dash my-5">
  <h1 class="text-center">Bienvenido/a, {{ nombre_completo }}!</h1>

  {% if role == 'alumno' %}
  <div class="role row my-4">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-header text-center fw-bold">
          <h2 class="text-white">Panel de Control para Alumnos</h2>
        </div>
        <div class="card-body">
          <p class="card-text text-center m-3">
            ¡Bienvenido/a al área de alumnos! Aquí puedes ver tus tareas,
            comunicados generales y comunicados personalizados.
          </p>

          <a
            href="{{ url_for('tareas_alumno') }}"
            class="btn btn-primary d-flex justify-content-center mx-auto my-4"
            ><i class="bi bi-file-earmark-text me-1"></i>Tareas</a
          >
          <a
            href="{{ url_for('lista_comunicados') }}"
            class="btn btn-primary d-flex justify-content-center mx-auto"
            ><i class="bi bi-megaphone me-1"></i>Comunicados</a
          >
        </div>
      </div>
    </div>
  </div>

  {% elif role == 'padre' %}
  <div class="role row my-4">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-header text-white text-center fw-bold">
          <h2>Panel de Control para Padres</h2>
        </div>
        <div class="card-body">
          <p class="card-text text-center m-3">
            Bienvenido/a al área de padres. Aquí puedes ver el perfil de tu hijo
            y comunicarte con el docente.
          </p>
          <ul class="list-group text-center fw-bold">
            <li class="list-group-item">
              <a href="{{ url_for('lista_comunicados') }}">
                <i class="bi bi-megaphone"></i> Comunicados
              </a>
            </li>
            <li class="list-group-item">
              <a href="{{ url_for('tareas_alumno') }}">
                <i class="bi bi-person-lines-fill"></i> Ingresar al Perfil del
                Alumno
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% elif role == 'docente' %}
  <div class="role row my-4">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-header text-white text-center fw-bold">
          <h2>Panel de Control para Docentes</h2>
        </div>
        <div class="card-body">
          <p class="card-text text-center m-3">
            Bienvenido/a al área de docentes. Aquí puedes ver el perfil de tu
            hijo y responder a los comunicados del docente.
          </p>

          <ul class="list-group text-center fw-bold">
            <li class="list-group-item">
              <a href="{{ url_for('lista_alumnos') }}"
                ><i class="bi bi-person-check"></i> Lista de alumnos</a
              >
            </li>
            <li class="list-group-item">
              <a href="{{ url_for('lista_tareas') }}"
                ><i class="bi bi-file-earmark-text"></i> Tareas</a
              >
            </li>
            <li class="list-group-item">
              <a href="{{ url_for('lista_comunicados') }}"
                ><i class="bi bi-megaphone"></i> Comunicados</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <p>Rol no válido. Por favor, contacte al administrador del sistema.</p>
  {% endif %}
</div>
{% include 'footer.html' %}
