{% include 'header.html' %}

<div class="container my-5">
  <h2 class="text-center text-primary mb-4">Perfil de {{ nombre_completo }}</h2>

  <h3 class="text-center mb-3">Tareas Asignadas</h3>

  <!-- Botones filtrar tareas -->
  <div class="d-flex justify-content-center mb-4">
    <a
      href="{{ url_for('tareas_alumno', estado='todas') }}"
      class="btn btn-info"
      >Todas</a
    >
    <a
      href="{{ url_for('tareas_alumno', estado='pendientes') }}"
      class="btn btn-warning mx-2"
      >Pendientes</a
    >
    <a
      href="{{ url_for('tareas_alumno', estado='completadas') }}"
      class="btn btn-success"
      >Completadas</a
    >
  </div>

  {% if tareas %}
  <form action="{{ url_for('tareas_alumno') }}" method="POST">
    {% for tarea in tareas %}
      <div class="task-container mb-4 p-3 border rounded">
        <h4>{{ tarea['titulo'] }} ({{ tarea['fecha_entrega'] }})</h4>
        <div class="fw-bold mb-2">
          {% if tarea['estado'] == 'pendiente' %}
          <i class="bi bi-circle text-warning"></i> Pendiente {% else %}
          <i class="bi bi-check-circle text-success"></i> Completada {% endif %}
        </div>
        <p>{{ tarea['descripcion'] }}</p>
        <div class="form-group">
          <label class="form-label">Estado:</label>
          <div >
            <input type="radio" id="pendiente_{{ tarea['tarea_id'] }}"
            name="estado_{{ tarea['tarea_id'] }}" value="pendiente" {% if
            tarea['estado'] == 'pendiente' %}checked{% endif %}>
            <label
              for="pendiente_{{ tarea['tarea_id'] }}"
              class="form-check-label"
              >Pendiente</label
            >
          </div>
          <div>
            <input type="radio" id="completada_{{ tarea['tarea_id'] }}"
            name="estado_{{ tarea['tarea_id'] }}" value="completada" {% if
            tarea['estado'] == 'completada' %}checked{% endif %}>
            <label
              for="completada_{{ tarea['tarea_id'] }}"
              class="form-check-label"
              >Completada</label
            >
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Actualizar estado</button>
    </div>
  </form>
  {% else %}
  <p class="text-center text-danger mt-4">
    No tienes tareas asignadas actualmente.
  </p>
  {% endif %}

  <div class="mt-4 d-flex justify-content-center gap-3">
    <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">
      <i class="bi bi-arrow-left"></i> Regresar al Panel de Control
    </a>
  </div>
</div>

{% include 'footer.html' %}
